.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;

    .logo {
        width: 80px;
    }

    .carrinho_menu {
        display: flex;
        align-items: center;
        cursor: pointer;

        &::after {
            content: "";
            display: inline-block;
            background: url("../images/carrinho.svg") no-repeat center;
            width: 25px;
            height: 25px;
            margin-left: 10px;
        }
    }
}