@import "header";
@import "listproducts";
@import "modal";
@import "carrinho";
@import "resposive";

body, h1, h2, ul, li, p {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
}

img {
    width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

#app {
    padding: 0 10px;
    @media screen and (min-width: 992px){
        padding: 0 80px;
    }
}